  /* Body Styling */
  body {
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
  }
  
  /* Hero Section */
  .hero {
    display: flex;
    min-height: 95vh;
    background-color: #1a1a1a;
    color: white;
  }
  
  .hero .illustration {
    flex: 1;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    margin: 3rem;
    border-radius: 32px;
  }

  .hero .illustration img {
    min-width: 20px;
    padding: 2rem;
  }
  
  .hero .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
  }
  
  .hero .content h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
  }
  
  .hero .content p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
  }
  
  .hero .content .btn {
    padding: 0.8rem 3rem;
    text-decoration: none;
  }
  
  /* Dashboard Overview */
  .dashboard-overview {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-overview h2 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
  }
  .dashboard-overview .dashboard-description {
    font-size: 1rem;
    font-weight: 400;
    color: #666;
    margin-bottom: 2rem; /* Adds space between description and cards */
  }
  .dashboard-overview p {
    font-size: 1rem;
    color: #666;
  }
  
  .dashboard-overview .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
  
  .dashboard-overview .card {
    background-color: #e6e6e6;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .dashboard-overview .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .dashboard-overview .card h3 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
  }
  
  .dashboard-overview .card p {
    font-size: 1rem;
    height: fit-content;
    font-weight: 400;
    color: #666;
  }

  @media (max-width: 1050px) {
    .hero {
      flex-direction: column;
    }
    .hero .illustration {
      width: calc(100% - 6rem);
      margin: 3rem;
    }
  }