/* Main Layout */
.navbar {
	display: flex;
	justify-content: space-between;
	background: #ffcf97;
}
.navbar-left {
	display: flex;
	width: 50%;
}
.navbar-center {
	display: flex;
	align-items: center;
}
.navbar-right {
	display: flex;
	flex-direction: row-reverse;
	width: 50%;
	padding-right: 0.5rem;
}
/* Left Section Layout */
.mobile-menu-icon {
	display: none;
	font-size: 1.5rem;
	cursor: pointer;
	padding: 10px 16px;
	transition: background 0.5s ease-in-out;
  }

.mobile-menu-icon:hover {
	background-color: #ecbb83;
}

.nav-button {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding: 0px;
}

.nav-button a {
	display: flex;
	align-items: center;
	padding: 0 1rem;
	height: 100%;
	text-decoration: none;
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	transition: background 0.5s ease-in-out;
}
.nav-button a:hover {
	background-color: #ecbb83;
}

.signout-btn {
	border-style: none;
	background-color: #ffcf97;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	height: 100%;
	text-decoration: none;
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	transition: background 0.5s ease-in-out;
  }
  
  .signout-btn:hover {
	background-color: #ecbb83;
  }

.analyzer-btn {
	background: linear-gradient(to right, darkviolet, blue);
	background-size: 200% 100%;
	background-position: 0% 50%;
	color: white !important;
	transition: background-position 0.5s ease-in-out;
}

.analyzer-btn:hover {
	background-position: 100% 50%;
}
/* Center Section Layout */
.title-logo h1 {
	color: #000000;
	font-size: 32px;
	font-weight: 900;
}
/* Right Section Layout */
.search-form {
	display: flex;
	flex-direction: row;
	height: auto;
	align-items: center;
	background-color: #ffffff;
	border-radius: 30px;
	padding: 0.5rem 1rem;
	color: #949DA5;
	margin: 4px;
}

.search-form input[type="text"] {
	border: none;
	outline: none;
	font-weight: 700;
	font-size: 14px;
	background-color: transparent;
	color: #000000;
	width: 12rem;
}

.search-form button {
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: 0.25rem;
	border-radius: 50%;
	transition: background 0.5s ease-in-out;
}
.search-form button:hover {
	background-color: #e6e1dc;
}

/* Responsiveness */
  
  @media (max-width: 1050px) {
	.navbar {
	  flex-wrap: wrap;
	  gap: 0.5rem;
	}
  
	.navbar-left {
	  width: 100%;
	  justify-content: space-between;
	}
  
	.nav-button {
		display: flex;
		flex-direction: column;
		width: 100%;
		overflow: hidden;
		max-height: 0;
		padding: 0;
		margin-top: 0;
		transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1), padding 0.3s ease-in-out;
	  }
	  
	  .nav-button.active {
		max-height: 500px;
	  }

	.nav-button a {
		display: flex;
		height: fit-content;
		padding: 1rem 0;
		padding-left: 1rem;
	}

	.signout-btn {
		display: flex;
		width: 100%;
		height: fit-content;
		padding: 1rem 0;
		padding-left: 1rem;
	}

	.navbar-center {
		margin: 0 auto;
	}
  
	.navbar-right {
	  width: 100%;
	  justify-content: flex-start;
	}
  
	.search-form {
	  flex-wrap: wrap;
	  width: 100%;
	}
  
	.search-form input[type="text"] {
	  width: 100%;
	  margin-bottom: 0.5rem;
	}
  
	.mobile-menu-icon {
	  display: block;
	}
  }
  