.navbar {
	display: flex;
	justify-content: space-between;
	gap: 80px;
	align-items: center;
	background: #FFFAF5;
	border-radius: 7px;
}
.navbar-left {
	display: flex;
	align-items: center;
	width: 33%;
}
.navbar-right {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	width: 33%;
	padding: 0.5rem;
}
.navbar-center {
	display: flex;
	align-items: center;
}
.nav-button {
	list-style-type: none;
	padding: 0px;
	display: flex;
}

.nav-button a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: #000000;
	font-size: 14px;
}
.nav-button a:hover {
	background-color: #e6e1dc;
}
.title-logo a {
	color: #000000;
	font-size: 32px;
	font-weight: bolder;
}
.search-form {
	display: flex;
	flex-direction: row;
	height: auto;
	align-items: center;
	background-color: #ffffff;
	border-radius: 30px;
	padding: 0.5rem 1rem;
	color: #949DA5;
	justify-content: flex-start;
}

.search-form input[type="text"] {
	border: none;
	outline: none;
	font-weight: bold;
	font-size: 14px;
	background-color: transparent;
	color: #000000;
	width: 140px;
}

.search-form button {
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: 0;
	border-radius: 50%;
}
.search-form button:hover {
	background-color: #e6e1dc;
}

.search-icon {
	width: 20px;
	height: 20px;
	object-fit: contain;
}

/* Responsiveness */

.mobile-menu-icon {
	display: none;
	font-size: 24px;
	cursor: pointer;
	padding: 10px 16px;
  }
  
  @media (max-width: 900px) {
	.navbar {
	  flex-wrap: wrap;
	  gap: 10px;
	}
  
	.navbar-left {
	  width: 100%;
	  justify-content: space-between;
	}
  
	.nav-button {
	  display: none;
	  flex-direction: column;
	  width: 100%;
	  padding: 0;
	  margin-top: 10px;
	}
  
	.nav-button.active {
	  display: flex;
	}

	.navbar-center {
		margin: 0 auto;
	}

	.nav-button li {
	  text-align: left;
	  padding: 10px 16px;
	}
  
	.navbar-right {
	  width: 100%;
	  justify-content: flex-start;
	}
  
	.search-form {
	  flex-wrap: wrap;
	  width: 100%;
	}
  
	.search-form input[type="text"] {
	  width: 100%;
	  margin-bottom: 8px;
	}
  
	.mobile-menu-icon {
	  display: block;
	}
  }
  