.SignUpForm {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-evenly;
    border-radius: 12px;
    height: 70vh;
    min-width: 400px;
    width: 40vw;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 4rem;
    font-weight: 800;
}

form {
    display: flex;
    flex-direction: column;
    height: 35vh;
    place-items: center;
    justify-content: space-between;
}

.login-email-container, .login-password-container {
    position: relative;
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.log-in-input-field {
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    resize: vertical;
}

label {
    font-size: 1rem;
    color: #555;
    font-weight: 500;
}

.login-form-btn {
    width: 200px;
}

.login-github-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-evenly;
    gap: 3px;
}

.github-logo-login {
    height: auto;
    width: 60px;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.5s ease-in-out;
}

.github-logo-login:hover {
    background-color: #ffffff;
}

.form-error-message {
    color: red;
}